{% extends "project_inventory/base.html" %}
{% load tethys_gizmos %}
{% load tethys_gizmos staticfiles %}
{% load static %}


{% block app_content %}
  <h1>Add Project</h1>
  <form id="add-project-form" method="post">
    {% csrf_token %}
    <div class="form-group{% if location_error %} has-error{% endif %}">
      <label class="control-label">Location</label>
      {% gizmo location_input %}
      {% if location_error %}<p class="help-block">{{ location_error }}</p>{% endif %}
    </div>
    {% gizmo facility_id_input %}
    {% gizmo project_input %}
    {% gizmo category_input %}
    {% gizmo priority_input %}
    {% gizmo description_input %}
    {% gizmo est_year_input %}
    {% gizmo est_cost_input %}
    {% gizmo const_year_input %}
    {% gizmo const_cost_input %}
    <label class="control-label" for ="debt-checkbox">Debt?: </label><input class="edit-fields" type="checkbox" id="debt-checkbox" onload="this.checked = false" name="debt_checkbox">
    <br>
    <label class="control-label">Recurring?: </label><input class="edit-fields" type="checkbox" id="recur-checkbox" onload="this.checked = false" name="recur_checkbox">
  </form>

{% endblock %}

{% block app_actions %}
  {% gizmo add_button %}
  {% gizmo cancel_button %}
{% endblock %}
{% block after_app_content %}
    <div class="modal fade" id="chart-loading-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title" style="text-align:center;" id="modal-category">Loading Charts/Generating Reports...</h5>
            </div>
            <div class="modal-body" style="text-align:center;" id="chart-loading-modal-body">
              <img src="{% static 'project_inventory/images/loading.gif' %}" style="align:center;" width="150" height="150" alt="Loading Please Wait ...">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'project_inventory/js/add_facility.js' %}" type="text/javascript"></script>
{% endblock %}