{% extends "project_inventory/base.html" %}
{% load tethys_gizmos staticfiles %}

{% block import_gizmos %}
  {% import_gizmo_dependency plotly_view %}
{% endblock %}

{% block app_content %}
  {% gizmo project_inventory_map %}
  <div id="popup"></div>
{% endblock %}

{% block after_app_content %}
  <div class="modal fade" id="map-popup-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog"  style="width:90%;" role="document">
      <div class="modal-content" style="width:90%;">
        <div class="modal-header">
          <button type="button" onclick="closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="modal-facility-id">_</h5>
        </div>
        <div class="modal-body" id="map-popup-modal-body">

          <table id="project-list-table">
            <tr>
              <th>Project</th>
              <th>Category</th>
              <th>Priority</th>
              <th>Description</th>
              <th>Estimate Year</th>
              <th>Estimated Cost</th>
              <th>Construction Year</th>
              <th>Construction Cost</th>
              <th>Edit/Delete</th>
            </tr>
            <!--<tr id="project-1" class="project-row">-->
              <!--<td id="project-1-project">-->
                <!--<input type="text" id="modal-project" value="">-->
              <!--</td>-->
              <!--<td id="project-1-cost">-->
                <!--<input type="number" id="modal-cost" value="">-->
              <!--</td>-->
              <!--<td id="project-1-year">-->
                <!--<input type="number" id="modal-planned-year" value="">-->
              <!--</td>-->
            <!--</tr>-->
          </table>
          <a style="float:left;" name="submit-add-project" id="add-project-button" onclick="addProjectRow();" class="btn btn-success submit-add-project" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Add New Project </a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="closeModal();" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="saveDataToDB();" id="save-project-updates-button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% if can_add_projects %}
    {% gizmo add_project_button %}
  {% endif %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'project_inventory/css/map.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'project_inventory/js/map.js' %}" type="text/javascript"></script>
{% endblock %}